//- Contenedor de la tabla
section(class="max-w-6xl mx-auto mt-8")
  div(class="bg-white rounded-2xl shadow-sm border border-gray-100 p-6")
    h2(class="text-lg font-semibold text-slate-800 mb-4") Barberías registradas

    div(class="overflow-x-auto")
      table(class="min-w-full text-left text-sm border border-gray-200")
        thead(class="bg-gray-50")
          tr
            th(class="px-6 py-3 font-semibold text-xs tracking-wider text-slate-500 border-b border-gray-200 align-middle text-center") Nombre
            th(class="px-6 py-3 font-semibold text-xs tracking-wider text-slate-500 border-b border-gray-200 align-middle text-center") Dirección
            th(class="px-6 py-3 font-semibold text-xs tracking-wider text-slate-500 border-b border-gray-200 align-middle text-center") WhatsApp
            th(class="px-6 py-3 font-semibold text-xs tracking-wider text-slate-500 border-b border-gray-200 align-middle text-center") NIT
            th(class="px-6 py-3 font-semibold text-xs tracking-wider text-slate-500 border-b border-gray-200 align-middle text-center") Email
            th(class="px-6 py-3 font-semibold text-xs tracking-wider text-slate-500 border-b border-gray-200 text-center") Acción

        tbody

          each listado in listadoPuntosVenta

            //- Fila 1
            tr(class="hover:bg-gray-50 transition")
              td(class="px-4 py-2 border-t border-gray-200 text-slate-700")=listado.nombre
              td(class="px-6 py-4 border-t border-gray-200 text-slate-500")=listado.direccion
              td(class="px-6 py-4 border-t border-gray-200 text-slate-500")=listado.WhatsApp
              td(class="px-6 py-4 border-t border-gray-200 text-slate-500")=listado.nit
              td(class="px-6 py-4 border-t border-gray-200 text-slate-500")=listado.email
              td(class="px-1 py-1 border-t border-gray-200 text-center")
                a(href="/panel/editarPunto/" + listado.idPuntoVenta class="inline-flex items-center px-3 py-1 rounded-lg text-xs font-medium text-green-600 bg-green-50 hover:b-py-2 m-1.5-green-100 transition py-2 hover:bg-indigo-100 hover:text-indigo-800"
                ) Ver más

                a(href="/panel/deletePunto/" + listado.idPuntoVenta class="inline-flex items-center px-3 py-1 rounded-lg text-xs font-red text-red-600 bg-red-50 hover:bg-indigo-100 transition py-2 m-1.5"
                ) Eliminar Tienda
                
