
// Avatar + nombre
div(class="flex flex-col items-center text-center")
    div(class="w-24 h-24 sm:w-28 sm:h-28 rounded-full shadow-gray-900 shadow overflow-hidden bg-green-100 mb-4")
            img(src="/images/avatar/ec1e0bce-e592-431e-8834-bc78b4196a78.png" alt="Profile" class="w-full h-full object-cover")
    h2(class="text-base sm:text-lg font-semibold text-slate-800")=barberData.nombreBarbero
    span(class="mt-1 inline-flex items-center px-3 py-1 rounded-full bg-green-50 tex[11px] sm:text-xs font-medium text-green-500") Barbero

div(class="mt-5 grid grid-cols-2 gap-3 w-full")
    div(class="flex flex-col items-center justify-center rounded-xl bg-green-50 py-3")
        span(class="text-base sm:text-lg font-semibold text-green-500") 1.23k
        span(class="text-[11px] sm:text-xs text-slate-500") Servicios hechos

    div(class="flex flex-col items-center justify-center rounded-xl bg-green-50 py-3")
        span(class="text-base sm:text-lg font-semibold text-green-500") $240.000
        span(class="text-[11px] sm:text-xs text-slate-500") Tiket Promedio
        
div(class="mt-6 border-t border-gray-200 pt-4 space-y-1 text-[13px] sm:text-sm")
    h3(class="text-[20px] font-semibold tracking-wide text-gray-600 mb-1 text-center") Perfil

    p(class="mt-3")
        span(class="font-semibold text-slate-700") Nombre:
        span(class="ml-1 text-gray-500") #{barberData.nombreBarbero} #{barberData.apellidoBarbero}
          
    p(class="mt-3")
      span(class="font-semibold text-slate-700") Identificación:
      span(class="ml-1 text-gray-500")=barberData.identificacionBarbero
          
    p(class="mt-3")
      span(class="font-semibold text-slate-700") Whatsapp/celular:
      span(class="ml-1 text-gray-500")=barberData.whatsApp

    p(class="mt-3")
      span(class="font-semibold text-slate-700") Email:
      span(class="ml-1 text-gray-500 pl-2")=barberData.email

    p(class="mt-3")
      span(class="font-semibold text-slate-700") Sede:
      span(class="ml-1 text-gray-500")=barberData.barberia.nombre

    p(class="mt-3")
      span(class="font-semibold text-slate-700") Posición:
      span(class="ml-1 text-gray-500")=barberData.tipoEmpleado
          
   
    
    p(class="mt-3")
      span(class="font-semibold text-slate-700") Inicio de labores:
      span(class="ml-1 text-gray-500")=barberData.createdAt
    
    // Botones
    div(class="mt-6 flex flex-col sm:flex-row gap-3")
    
        button(
            type="button"
            class="w-full sm:flex-1 inline-flex justify-center items-center px-4 py-2.5 rounded-xl text-sm font-medium text-red-500 bg-red-50 hover:bg-red-100 transition cursor-pointer  "
        ) Suspender

